body {margin: 0; border: 0; padding: 0;}
.blackBox{background-color: #000; width: 202px; height: 360px;
margin: 0; border: 0; padding: 0;}

.box1{height: 30px;}

.box2{clear: both; height: 72px;
text-align: center;}
.circle {
	border-radius: 50%;
    width: 33px;
    height: 33px;
    background: grey;
    border: 7px solid white;
    display: inline-block;
    margin: 0; padding: 0;
    position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.box3{ height: 116px;}


.play-button-outer {
  margin: 0% auto;
  width: 202px;
  height: 116px;
  background-color: rgba(50, 50, 50, 1);
  cursor: pointer;
 }

.play-button {
  margin: 0 auto;
  position: relative;  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5em 0 2.5em 5em;
  border-color: transparent transparent transparent #fff;
  opacity: .75; 
  
  transform: translateY(25%);
  
}
.play-button:hover {
  background-color: rgba(50, 50, 50, .7);
  opacity: 1;
}

.box4{height: 106px;}

.containerbtns
{ position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navigation ul { margin: 0; padding: 0; }
.navigation li {display: inline-block;}
.navigation {color: #fff; margin: 0px 2px; padding: 0px 25px;}
  
.btn{height: 21px; width: 21px;text-align: center;}

.btn11{float:left; background-color:orange;}
.btn12{float:left; background-color:gold; }
.btn21{float:left; background-color:darkgrey; }
.btn22{float:left; background-color:grey; }
.btn31{float:left; background-color:orange; }
.btn32{float:left; background-color:gold; }

.btn41{float:left; background-color:orange; }
.btn42{float:left; background-color:gold; }
.btn51{float:left; background-color:orange; }
.btn52{float:left; background-color:gold; }
.btn61{float:left; background-color:darkgrey; }
.btn62{float:left; background-color:grey; }

.box5{height: 40px;}

