html, body {height:100%;margin: 0; padding:0; background-color:none transparent;}
html {width: 202px; height: 364px;} 
body{width: 202px; height: 364px;}

.blackBox{background-color: #000; margin: 0; border: 0; padding: 0;width: 202px; height: 364px; 
border-radius: 0px 0px 20px 20px;}

.box1{height: 30px;}

.box2{clear: both; height: 72px;
text-align: center;}

.circle {
	border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color: none transparent;
    display: inline-block;
    position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.effect img.image{
/*type your css here which you want to use for both*/
}
.effect:hover img.image{
display:none;
}
.effect img.hover{
display:none;
}
.effect:hover img.hover{
display:block;
}

.box3{ height: 116px;}


.outer-play-button-outer {
  margin: 0% auto;
  width: 202px;
  height: 116px;
  background-color: rgba(50, 50, 50, 1);
  cursor: pointer;
 }

.play-button{
  margin: 0 auto;
  position: relative;  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5em 0 2.5em 5em;
  border-color: transparent transparent transparent #fff;
  opacity: .75; 
  transform: translateY(50%);
  
}
.play-button:hover {
  background-color: rgba(50, 50, 50, .7);
  opacity: 1;
}

.box4{height: 100px;}

.containerbtns
{ position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navigation ul { margin: 0; padding: 0; }
.navigation li {display: inline-block;}
.navigation {color: #fff; margin: 0px 0px; padding: 0px 32px;}
  
.btn{height: 21px; width: 21px;text-align: center;}

.a11:link{background-color:blue;}
.a11:active{background-color:red;}
.a11:visited{background-color:green;}
.a11:hover{background-color:white;}

.btn11{float:left; background-color:red;}
.btn12{float:left; background-color:darkred; }
.btn21{float:left; background-color:orange; }
.btn22{float:left; background-color:darkorange; }
.btn31{float:left; background-color:yellow; }
.btn32{float:left; background-color:darkkhaki; }

.btn41{float:left; background-color:lightgreen; }
.btn42{float:left; background-color:limegreen; }
.btn51{float:left; background-color:turquoise; }
.btn52{float:left; background-color:teal; }
.btn61{float:left; background-color:violet; }
.btn62{float:left; background-color:darkviolet; }

.box5{height: 46px;}

