/*#f{background-color: red;}*/
#boxVersion
{
	border-radius: 5px;
	float:right;
	text-align: center;
	width: 35%;
	margin-right: 13%;

	background-color: rgb(50,50,50);
}

#version
{
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: white;
}