/*#f{background-color: red;}*/
#boxVersion
{
	border-radius: 5px;
	float:right;
	text-align: center;
	width: 58px;
	margin-top: 1px;
	margin-right: 15px;
  	border: 1px;
  	padding: 2px;
	background-color: rgb(51,51,51);
}

#version
{
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: white;
}